WORKSHOP HIMASIKOM 2026.json
{
  "name": "WORKSHOP HIMASIKOM 2026",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "suhu",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        48,
        656
      ],
      "id": "4e0d4eed-14c3-4c8a-b545-fb7527715ee8",
      "name": "Webhook",
      "webhookId": "72e66e2c-c1b4-48cd-ad68-4f9d20e0b72b"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "Kamu asisten sensor ruangan Workshop HIMASIKOM. Bahasa santai, to the point.\n\nKONDISI SUHU: dingin <20°, nyaman 20-28°, hangat 28-33°, panas >33°C\nKONDISI KELEMBABAN: kering <40%, nyaman 40-70%, lembab >70%\n\nKalau ada data suhu dan kelembaban masuk, simpan ke Google Sheets dulu, lalu balas:\nWaktu: [waktu]\nSuhu: [nilai]°C\nKelembaban: [nilai]%\n[komentar kondisi 1 kalimat]\n\nKalau ditanya kondisi, baca baris terakhir Google Sheets dan balas dengan format yang sama.\nKalau chat biasa, balas singkat dan natural.\n\njawabannya harus konsisten."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1296,
        480
      ],
      "id": "8de262af-0ca1-446d-be0f-cb370ac67298",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1168,
        704
      ],
      "id": "9d7209ca-9473-4eba-8304-8c0ea4207fd7",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "J2UTeVJ9mA6gxJMY",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "content": "# ALUR REKAP DAN CHAT MANUAL\n\n\n\n\n\n\n\n\n\n\n\n\n\n",
        "height": 528,
        "width": 1904,
        "color": "#192F59"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "55db21c6-16dd-45b6-843e-a12914778e69",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# ALUR AI AGENT\n",
        "height": 688,
        "width": 880,
        "color": "#125200"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1024,
        320
      ],
      "id": "b44f8793-190b-4ce6-9960-1ff230440776",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        80,
        112
      ],
      "id": "400551ef-1202-439e-a6ab-99cccacab3c5",
      "name": "pesan telegram",
      "webhookId": "6e013b9d-3fe3-4252-af9e-e993dc616b56",
      "credentials": {
        "telegramApi": {
          "id": "Um34Syjf53kkXMfo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b8655ed2-de12-4405-8ce5-4215151bad2f",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/rekap",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        464,
        112
      ],
      "id": "21c45b41-b0f5-4340-863b-936142507758",
      "name": "validasi perintah"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1yuhbsqveokcGksDucmNJGV5TsOqAQn_Z6tL8Q4X28E8",
          "mode": "list",
          "cachedResultName": "DATA SUHU DAN KELEMBABAN RUANGAN",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yuhbsqveokcGksDucmNJGV5TsOqAQn_Z6tL8Q4X28E8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yuhbsqveokcGksDucmNJGV5TsOqAQn_Z6tL8Q4X28E8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        96
      ],
      "id": "63905e2d-d8b1-4818-90c9-c0ef05a8b8f1",
      "name": "Ambil Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2XoD7pX5pdB4s02w",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const pesan    = $('pesan telegram').first().json.message.text ?? '';\nconst angkaMatch = pesan.match(/\\d+/);\nconst angka    = angkaMatch ? parseInt(angkaMatch[0]) : null;\n\nconst satuan   = pesan.includes('detik') ? 1/60\n               : pesan.includes('jam')   ? 60\n               : pesan.includes('hari')  ? 1440\n               : pesan.includes('bulan') ? 43200\n               : 1;\n\nconst sekarang = $('pesan telegram').first().json.message.date * 1000 + 25200000;\nconst batas    = angka !== null ? sekarang - angka * satuan * 60000 : 0;\n\nreturn $input.all()\n  .filter(r => {\n    const [tgl, wkt] = (r.json['waktu'] ?? '').split(',');\n    const [d, m, y]  = tgl.trim().split('/');\n    const [h, mi, s] = wkt.trim().split('.');\n    return new Date(+y, +m-1, +d, +h, +mi, +s).getTime() >= batas;\n  })\n  .map(({ json: { row_number, ...data } }) => ({ json: data }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        96
      ],
      "id": "34657722-4f0a-44d5-b0f1-029aba1c53d4",
      "name": "Filter Data"
    },
    {
      "parameters": {
        "operation": "xls",
        "options": {
          "fileName": "rekap.xls"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1440,
        96
      ],
      "id": "1ec3d405-9919-49f7-8f51-df08155196b1",
      "name": "Buat file XLS"
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $('pesan telegram').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1696,
        96
      ],
      "id": "c707a289-e176-4219-ba39-70e8e0af3e5b",
      "name": "kirim file",
      "webhookId": "0af5f714-f371-42ab-8e45-856418c6ffa8",
      "credentials": {
        "telegramApi": {
          "id": "Um34Syjf53kkXMfo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f26cdcb-c4f2-4f04-b15c-d440b9e596b6",
              "name": "output",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        368
      ],
      "id": "310b654a-8016-4a1b-b3b1-e66126a9cf8d",
      "name": "O/TELE"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? '';\nconst [suhu, kelembaban] = body.split(',').map(Number);\nconst waktu = new Date().toLocaleString('id-ID', { timeZone: 'Asia/Jakarta' });\n\nreturn { suhu, kelembaban, waktu, ok: !isNaN(suhu) && !isNaN(kelembaban) };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        656
      ],
      "id": "74ef0102-accd-4be5-b6b8-f5355a3210cf",
      "name": "Parse Data Sensor"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fa1191d9-8b92-4552-9eaa-29784d6e9cb4",
              "leftValue": "={{ $json.ok }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        560,
        656
      ],
      "id": "816771fb-1e52-482b-be67-9ef5024f5c20",
      "name": "Validasi Data Sensor"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "109964b9-a22b-487f-be6d-dd47543af4ae",
              "name": "output",
              "value": "={{ $json.suhu }}\n{{ $json.kelembaban }}\n{{ $json.waktu }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        640
      ],
      "id": "c34364ca-c85b-405e-a547-f299aae15044",
      "name": "O/DATA"
    },
    {
      "parameters": {
        "chatId": "7264187096",
        "text": "=pada :  {{ $json.waktu }}\nSensor tidak terdeteksi!!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        832
      ],
      "id": "8b815ae7-6d20-4553-90ff-5859810c9a37",
      "name": "Error",
      "webhookId": "765c93b7-aa63-4e68-acf8-f24fb9926091",
      "credentials": {
        "telegramApi": {
          "id": "Um34Syjf53kkXMfo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1yuhbsqveokcGksDucmNJGV5TsOqAQn_Z6tL8Q4X28E8",
          "mode": "list",
          "cachedResultName": "DATA SUHU DAN KELEMBABAN RUANGAN",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yuhbsqveokcGksDucmNJGV5TsOqAQn_Z6tL8Q4X28E8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yuhbsqveokcGksDucmNJGV5TsOqAQn_Z6tL8Q4X28E8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1424,
        704
      ],
      "id": "f60b4a14-d662-45b4-8902-7db576f2952e",
      "name": "Baca Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2XoD7pX5pdB4s02w",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yuhbsqveokcGksDucmNJGV5TsOqAQn_Z6tL8Q4X28E8",
          "mode": "list",
          "cachedResultName": "DATA SUHU DAN KELEMBABAN RUANGAN",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yuhbsqveokcGksDucmNJGV5TsOqAQn_Z6tL8Q4X28E8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yuhbsqveokcGksDucmNJGV5TsOqAQn_Z6tL8Q4X28E8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "waktu": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('waktu', ``, 'string') }}",
            "suhu": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('suhu', ``, 'string') }}",
            "kelembaban": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('kelembaban', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "waktu",
              "displayName": "waktu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "suhu",
              "displayName": "suhu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "kelembaban",
              "displayName": "kelembaban",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1552,
        704
      ],
      "id": "d54306f5-cac9-4c58-b663-60f4e4b38169",
      "name": "Simpan Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2XoD7pX5pdB4s02w",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('pesan telegram').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1664,
        480
      ],
      "id": "19ddf3ee-068b-485f-bdbf-9ae656b28946",
      "name": "Balasan",
      "webhookId": "65edfe9f-684d-4078-b2eb-eb36c5f35747",
      "credentials": {
        "telegramApi": {
          "id": "Um34Syjf53kkXMfo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "# ALUR PENGIRIMAN DATA ",
        "height": 480,
        "width": 1024,
        "color": "#92400E"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        528
      ],
      "id": "32ddf5f2-1e1f-4c26-88d5-6d8c36823e57",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Data Sensor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Balasan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pesan telegram": {
      "main": [
        [
          {
            "node": "validasi perintah",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validasi perintah": {
      "main": [
        [
          {
            "node": "Ambil Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "O/TELE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ambil Data": {
      "main": [
        [
          {
            "node": "Filter Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Data": {
      "main": [
        [
          {
            "node": "Buat file XLS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buat file XLS": {
      "main": [
        [
          {
            "node": "kirim file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "O/TELE": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Data Sensor": {
      "main": [
        [
          {
            "node": "Validasi Data Sensor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validasi Data Sensor": {
      "main": [
        [
          {
            "node": "O/DATA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "O/DATA": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baca Data": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simpan Data": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "46b83c55-5b53-4639-b520-2a331b2b03f2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4500f06333eb390574f6a88a01f48aa500c72a77a200236c1af1500144fd05c4"
  },
  "id": "SInmlrHllTvlAu1e",
  "tags": []
}